* {
    box-sizing: border-box;
}

.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.arrow {
    text-decoration: none;
    font-size: 40px;
}

.slider__indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 5px;
}

.slider__indicator {
    width: 20px;
    height: 20px;
    background-color: rgb(3, 138, 21);
    border-radius: 50%;
    border: 1px solid transparent;
}

.slider__indicator.active {
    background-color: rgb(22, 77, 196);
}