* {
    box-sizing: border-box;
}

.slider-block {
    display: flex;
}

.arrow {
    text-decoration: none;
    font-size: 40px;
}

#slider {
    widows: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}